
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

    #mySidenav a {
  margin-top:125px;
  position: fixed;
  left: -140px;
  transition: 0.3s;
  padding: 10.5px;
  width: 150px;
  text-decoration: none;
  font-size: 15px;
  font-family: arial;
  color: #cccccc;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 20px black;
    z-index: 10;
  text-align:center;
}
      h1 {text-align: center;
    font-family: arial;
    } 
   
#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #5600ff;
}

#blog {
  top: 80px;
  background-color: #5600ff;
}

#projects {
  top: 140px;
  background-color: #3b00b3;
}

#contact {
  top: 200px;
  background-color: #5600ff;
}
    
#hello {
  top: 260px;
  background-color: #5600ff;
}
    
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-2 {
  background-image: url("35.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("33.jpg");
  min-height: 400px;
  
}

   #img1 {
  float: right;
  margin-right: 14%;
  border-radius: 15px;
}

   #t3{
  margin-right: 60%;

       text-align: right;
}

   #t4{
  margin-right: 52%;
 size: 25px;
  font: 20px "Arial", sans-serif;
       text-align: justify;
letter-spacing: 4px;
       MARGIN-LEFT: 20%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

    p.clear {
    clear: both;
    }





h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
}


    #t5 {
    margin right: 20%;
        margin left: 20%;
        text-align:center;
        }
    #header{
    background-color: black;
    clear: left;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
      opacity: 1;
        z-index: 9;     }
.column {
  float: left;
  width: 50%;
  padding: 5px;
    border-radius: 15px;
}


.row{
  margin-left: 25%;
    margin-right: 25%;
  content: "";
  clear: both;
  display: table;
}

    #footer {
    padding: 1em;
    color: #CCCCCC;
    background-color: black;
    clear: left;
    text-align: center;
    }
        
    }
    
    #footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;

    }
    
   #t1{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 55px "Lato", sans-serif;
  color: white;
}
    
    #hello{
    margin-top: 125px
    }
    